<h1>New Addition</h1>

<form action="/wizard_add">
  <label for="input_one">Add this:</label>
  <input type="text" id="input_one" name="first_num">

  <label for="input_two">to this:</label>
  <input type="text" id="input_two" name="second_num">

  <button>Add!</button>
</form>