<h1>New Division</h1>

<form action="/wizard_divide">
  <label for="input_one">Divide this:</label>
  <input type="text" id="input_one" name="first_num">

  <label for="input_two">by this:</label>
  <input type="text" id="input_two" name="second_num">

  <button>Divide!</button>
</form>