<form action="/coords_to_weather/results">
  <div>
  <label for="lat">Latitude</label>
  <input type="text" id="lat" name="user_latitude" placeholder="Enter the latitude">
  </div>
  <div>
  <label for="lng">Street Address</label>
  <input type="text" id="lng" name="user_longitude" placeholder="Enter the longitude">
  </div>
  <button>Lookup Weather!</button>

</form>