<h1>New Subtraction</h1>

<form action="/wizard_subtract">
  <label for="input_one">Subtract this:</label>
  <input type="text" id="input_one" name="first_num">

  <label for="input_two">from this:</label>
  <input type="text" id="input_two" name="second_num">

  <button>Subtract!</button>
</form>