<h1>New Multiplication</h1>

<form action="/wizard_multiply">
  <label for="input_one">Multiply this:</label>
  <input type="text" id="input_one" name="first_num">

  <label for="input_two">by this:</label>
  <input type="text" id="input_two" name="second_num">

  <button>Multiply!</button>
</form>